body {
  background-color: black !important;
  color: white;
}

h1 {
  color: #ff510d;
  text-align: center;
}

/* doesn't work */
h1 :hover {
  color: #fff23c;
}

h3 {
  color: #ff26db;
}

.pink {
  color: #ff26db;
}

.green {
  color: #1dff7b;
}

.yellow {
  color: #fff23c;
}

.navbar .navbar-brand {
  color: #ff26db;
}

.navbar .navbar-brand :hover {
  color: rgb(29, 255, 123);
}

.navbar .navbar-expand-sm .navbar-nav .nav-item .nav-link :hover {
  color: #1dff7b;
}

.mynav .button .navbar-toggler-icon input[type="button"] {
  color: white;
}

/* universal centering tag */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#spinner {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0 {
    text-shadow: 0 0 black;
  }

  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }

  50% {
    text-shadow: 0 0 black;
  }

  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }

  100% {
    text-shadow: 0 0 black;
  }
}
