body {
  background-color: black !important;
  color: white;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  color: white;
}

label {
  color: white;
}
a:hover {
  color: #000;
}

.navbar .navbar-brand {
  color: rgb(255, 38, 219);
}

.navbar .navbar-brand :hover {
  color: rgb(29, 255, 123);
}

.navbar .navbar-nav .nav-item .nav-link :hover {
  color: rgb(29, 255, 123);
}

.navbar .navbar-toggler .navbar-toggler-icon {
  color: white;
}

.navbar-nav {
  color: yellow;
}

.nav {
  text-decoration: white;
}

.navbar .navbar-expand-md {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}

/* universal centering tag */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
